.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #733dbf;
    color: #fff;
    text-align: center;
    padding: 0.75rem 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    height: 45px;
    z-index: 800;
}

.top {
    margin-bottom: 0.25rem;
}

.bottom, .link {
    text-decoration: none;
    font-weight: 600;
}

.bottom .link:hover {
    text-decoration: underline;
}
